@font-face {
  font-family: FU;
  src: url("../assets/fonts/Beautiful Heart.ttf");
}
@font-face {
  font-family: FD;
  src: url("../assets/fonts/LinLibertine_R.ttf");
}
@font-face {
  font-family: FT;
  src: url("../assets/fonts/LTRemark-May2021.ttf");
}
.menu {
  position: fixed;
  background-color: #99AA8B;
  width: 100%;
}
.menu .mono {
  padding-left: 1.5%;
}
.menu .mono .color {
  font-family: "FD";
  color: #f9f6f4;
}

.fondoUno {
  background-color: #4F896B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.94'%3E%3Ccircle fill='%234F896B' cx='50' cy='0' r='50'/%3E%3Cg fill='%23538b6c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23588c6d' cx='50' cy='100' r='50'/%3E%3Cg fill='%235c8e6e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23609070' cx='50' cy='200' r='50'/%3E%3Cg fill='%23649171' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23689372' cx='50' cy='300' r='50'/%3E%3Cg fill='%236b9474' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f9675' cx='50' cy='400' r='50'/%3E%3Cg fill='%23739877' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23779978' cx='50' cy='500' r='50'/%3E%3Cg fill='%237a9b7a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e9d7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23819e7d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2385a07f' cx='50' cy='700' r='50'/%3E%3Cg fill='%2388a281' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238ca383' cx='50' cy='800' r='50'/%3E%3Cg fill='%238fa585' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2392a787' cx='50' cy='900' r='50'/%3E%3Cg fill='%2396a889' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2399AA8B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}
.fondoUno h2 {
  font-family: "FU";
  color: #f9f6f4;
  text-align: center;
  padding-top: 10%;
  font-size: 4rem;
}
.fondoUno h3 {
  font-family: "FD";
  color: #f9f6f4;
  text-align: center;
  padding-top: 1%;
  font-size: 1.5rem;
}
.fondoUno h4 {
  font-family: "FD";
  color: #f9f6f4;
  text-align: center;
  font-size: 1.2rem;
}
.fondoUno h4 a {
  padding: 4px;
  font-family: "FT";
  border: 0;
  border-radius: 8px;
  text-decoration: none;
  color: #f9f6f4;
  background-color: #99AA8B;
}

.lovestory {
  background-color: #4F896B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.94'%3E%3Ccircle fill='%234F896B' cx='50' cy='0' r='50'/%3E%3Cg fill='%23538b6c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23588c6d' cx='50' cy='100' r='50'/%3E%3Cg fill='%235c8e6e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23609070' cx='50' cy='200' r='50'/%3E%3Cg fill='%23649171' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23689372' cx='50' cy='300' r='50'/%3E%3Cg fill='%236b9474' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f9675' cx='50' cy='400' r='50'/%3E%3Cg fill='%23739877' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23779978' cx='50' cy='500' r='50'/%3E%3Cg fill='%237a9b7a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e9d7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23819e7d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2385a07f' cx='50' cy='700' r='50'/%3E%3Cg fill='%2388a281' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238ca383' cx='50' cy='800' r='50'/%3E%3Cg fill='%238fa585' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2392a787' cx='50' cy='900' r='50'/%3E%3Cg fill='%2396a889' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2399AA8B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  scroll-margin-top: 9ex;
}
.lovestory h2 {
  text-align: center;
  font-family: "FD";
  color: #f9f6f4;
  font-size: 2.5rem;
}

.pLoveStory h3 {
  font-family: "FT";
  color: #f9f6f4;
  font-size: 1.3rem;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

h4 {
  font-family: "FT";
  color: #f9f6f4;
  text-align: center;
}
h4 a {
  padding: 4px;
  font-family: "FT";
  border: 0;
  border-radius: 8px;
  text-decoration: none;
  color: #f9f6f4;
  background-color: #99AA8B;
}

.evento {
  background-color: #4F896B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.94'%3E%3Ccircle fill='%234F896B' cx='50' cy='0' r='50'/%3E%3Cg fill='%23538b6c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23588c6d' cx='50' cy='100' r='50'/%3E%3Cg fill='%235c8e6e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23609070' cx='50' cy='200' r='50'/%3E%3Cg fill='%23649171' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23689372' cx='50' cy='300' r='50'/%3E%3Cg fill='%236b9474' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f9675' cx='50' cy='400' r='50'/%3E%3Cg fill='%23739877' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23779978' cx='50' cy='500' r='50'/%3E%3Cg fill='%237a9b7a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e9d7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23819e7d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2385a07f' cx='50' cy='700' r='50'/%3E%3Cg fill='%2388a281' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238ca383' cx='50' cy='800' r='50'/%3E%3Cg fill='%238fa585' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2392a787' cx='50' cy='900' r='50'/%3E%3Cg fill='%2396a889' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2399AA8B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  scroll-margin-top: 9ex;
}
.evento h2 {
  text-align: center;
  font-family: "FD";
  color: #711C25;
  font-size: 2.5rem;
}
.evento h3 {
  text-align: center;
  font-family: "FD";
  color: #f9f6f4;
  padding: 1rem;
  font-size: 2rem;
}
.evento h4 {
  font-family: "FD";
  color: #f9f6f4;
  text-align: center;
  font-size: 1.2rem;
}
.evento p {
  font-family: "FT";
  text-align: center;
  color: #f9f6f4;
  font-size: 1.3rem;
}
.evento a {
  padding: 4px;
  font-family: "FT";
  border: 0;
  border-radius: 8px;
  text-decoration: none;
  color: #f9f6f4;
  background-color: #99AA8B;
}
.evento h5 {
  font-family: "FD";
  color: #4F896B;
}
.evento h5 ul li {
  font-family: "FT";
  color: #711C25;
}
.evento p {
  font-family: "FT";
  color: #f9f6f4;
}
.evento h6 {
  font-family: "FT";
  color: #f9f6f4;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.hospedaje {
  background-color: #4F896B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.94'%3E%3Ccircle fill='%234F896B' cx='50' cy='0' r='50'/%3E%3Cg fill='%23538b6c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23588c6d' cx='50' cy='100' r='50'/%3E%3Cg fill='%235c8e6e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23609070' cx='50' cy='200' r='50'/%3E%3Cg fill='%23649171' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23689372' cx='50' cy='300' r='50'/%3E%3Cg fill='%236b9474' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f9675' cx='50' cy='400' r='50'/%3E%3Cg fill='%23739877' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23779978' cx='50' cy='500' r='50'/%3E%3Cg fill='%237a9b7a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e9d7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23819e7d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2385a07f' cx='50' cy='700' r='50'/%3E%3Cg fill='%2388a281' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238ca383' cx='50' cy='800' r='50'/%3E%3Cg fill='%238fa585' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2392a787' cx='50' cy='900' r='50'/%3E%3Cg fill='%2396a889' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2399AA8B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  scroll-margin-top: 9ex;
}
.hospedaje h2 {
  text-align: center;
  color: #f9f6f4;
}
.hospedaje h2 a {
  text-decoration: none;
  font-family: "FD";
  color: #711C25;
  padding: 1rem;
  font-size: 2.5rem;
}
.hospedaje div a {
  padding: 4px;
  font-family: "FT";
  border: 0;
  border-radius: 8px;
  text-decoration: none;
  color: #f9f6f4;
  background-color: #99AA8B;
}

.mDregalos {
  background-color: #4F896B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.94'%3E%3Ccircle fill='%234F896B' cx='50' cy='0' r='50'/%3E%3Cg fill='%23538b6c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23588c6d' cx='50' cy='100' r='50'/%3E%3Cg fill='%235c8e6e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23609070' cx='50' cy='200' r='50'/%3E%3Cg fill='%23649171' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23689372' cx='50' cy='300' r='50'/%3E%3Cg fill='%236b9474' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f9675' cx='50' cy='400' r='50'/%3E%3Cg fill='%23739877' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23779978' cx='50' cy='500' r='50'/%3E%3Cg fill='%237a9b7a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e9d7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23819e7d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2385a07f' cx='50' cy='700' r='50'/%3E%3Cg fill='%2388a281' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238ca383' cx='50' cy='800' r='50'/%3E%3Cg fill='%238fa585' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2392a787' cx='50' cy='900' r='50'/%3E%3Cg fill='%2396a889' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2399AA8B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  scroll-margin-top: 9ex;
}
.mDregalos .mRegalos {
  text-align: center;
  color: #f9f6f4;
}
.mDregalos .mRegalos a {
  text-decoration: none;
  font-family: "FD";
  color: #f9f6f4;
  padding: 1rem;
  font-size: 2.5rem;
}
.mDregalos .mRegalos p {
  font-family: "FT";
  color: #f9f6f4;
}
.mDregalos h3 {
  text-align: center;
  color: #f9f6f4;
}
.mDregalos h3 a {
  padding: 4px;
  font-family: "FT";
  border: 0;
  border-radius: 8px;
  text-decoration: none;
  color: #f9f6f4;
  background-color: #99AA8B;
}

.confi {
  background-color: #4F896B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.94'%3E%3Ccircle fill='%234F896B' cx='50' cy='0' r='50'/%3E%3Cg fill='%23538b6c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23588c6d' cx='50' cy='100' r='50'/%3E%3Cg fill='%235c8e6e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23609070' cx='50' cy='200' r='50'/%3E%3Cg fill='%23649171' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23689372' cx='50' cy='300' r='50'/%3E%3Cg fill='%236b9474' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f9675' cx='50' cy='400' r='50'/%3E%3Cg fill='%23739877' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23779978' cx='50' cy='500' r='50'/%3E%3Cg fill='%237a9b7a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237e9d7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23819e7d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2385a07f' cx='50' cy='700' r='50'/%3E%3Cg fill='%2388a281' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238ca383' cx='50' cy='800' r='50'/%3E%3Cg fill='%238fa585' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2392a787' cx='50' cy='900' r='50'/%3E%3Cg fill='%2396a889' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2399AA8B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}
.confi h2 {
  text-align: center;
}
.confi h2 a {
  font-family: "FD";
  color: #f9f6f4;
  padding: 1rem;
  font-size: 2.5rem;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
