*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./modules/variables";
@import "./modules/menu";
@import "./modules/principal";
@import "./modules/lovestory";
@import "./modules/evento";
@import "./modules/hospedaje";
@import "./modules/confirmacion";
@import "./modules/pieDpagina";