.lovestory{
    background-image: url("../assets/img/fondos.png");
    scroll-margin-top: 8ex;
    h2{
        text-align: center;
        font-family: $FDos;
        color: $c-tercera;
        background-color: $c-secundario;
        font-size: 2.5rem;
        }
    }
    .pLoveStory{
    h4{
        font-family: $FTres;
        color: $c-secundario;
        text-align: center;
        a{
            padding: 5px 10px;
            font-family: $FTres;
            border: 0;
            font-size: 1.2rem;
            border-radius: 8px;
            text-decoration: none;
            color: $c-secundario;
            background-color: $c-fondo;
                &:hover{
                    padding: 5px 10px;
                    background-color: $c-bG;
                    border-radius: 15px;
                }
            }
        }
    }