header{
    .nav{
        position: fixed;
        width: 100%;
        background-color: $c-bG;
        display: flex;  
        align-items: center;
        justify-content: center;
        padding: 0px;
        transition: all 0.5s ease;
    }
    .nav.active{
        padding: .05%;

    }
    .menu{
        display: flex;
    }
    .menu li{
        list-style: none;
        margin:10px;
    }
    .menu li a{
        color: $c-secundario;
        text-decoration: none;
        font-family: $FDos;
        transition: all 0.5s ease;
        &:hover{
            padding: 5px 10px;
            background-color: $c-fondo;
            border-radius: 15px;
        }
    }
    .scrol{
        height: 100%;
    }
}